[geometry]
# radii of the spheres, ra, rb in 10e-6 meters
# center-to-center distance d in 10e-6 meters
# optional integers lmax, lssmax, "lmax: automatic" 
# results in an automatic determination of lmax
# meaning necessary angular momenta
# lmax specifies an offset lmax -> lmax + offset
# evaluation is type of evaluation, trace or lndet
# precision is desired accuracy
ra: 1
rb: 1
d: 2.1
lmax: automatic
l_offset: 4
lssmax: automatic
evaluation: lndet
analytic_n0: True
precision: 1e-5

[materials]
# pre_defined materials available are:
# pec for perfect electric conductor
# vac for vacuum and many more, see materials.py 
mata: materials.PerfectConductor
matb: materials.PerfectConductor
matmd: materials.Vacuum

[thermodynamics]
# Temperature T in units of 2pi k_B micron / hbar c
# quantitiy can be one of the methods defined in
# thermodynamics.py's finteT class:
# free_energy(), force(), entropy(), F_zero_T(), get_f_matsubaras(nmin)
# out_file filename of output data file
Tmin: 0.8040
Tmax: 10
nmax: automatic 
quantity: get_f_matsubaras(0)
out_file: L3_outfile.dat
